<head>
    <title>Profile</title>
</head>

<body>
    <p>
        <a href = '/' >Home</a> 
    </p>  
<center>
    <img src = '<%= data.profile_pic %>' width="200" height="200" /><hr>
    <h1><%= data.username%> </h1><hr>
    <h2><%= data.about%></h2>
    <h2><%= data.branch%> || <%= data.year%> </h2><hr>
    <h2>Stack : <%= data.stack%> </h2><hr>
    <h2>Interests : <%= data.interests%></h2>
    <h2>Interests : <%= data.technologies%></h2>
    <button onClick = "location.href='<%= data.connect%>'"  role="button">Connection link</button>


</body>